name: CI - Code Security & Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  security-check:
    name: Scan Secrets and Vulnerabilities
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Scanner les secrets avec Gitleaks
      - name: Run Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --no-git -v

     

  build:
    name: Build React App
    runs-on: ubuntu-latest
    needs: security-check
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build

      - name: Archive production build
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: build/
